@use './variables' as variables;
@use "sass:color";

@mixin focus-outline($color) {
  outline: 3px solid $color;
  outline-offset: 2px;
}

@mixin button($bg-color) {
  width: 100%;
  padding: 0.75rem;
  background-color: $bg-color;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;

  &:hover:not(:disabled) {
    background-color: color.adjust($bg-color, $lightness: -10%);
  }

  &:focus-visible {
    @include focus-outline(color.adjust($bg-color, $lightness: -10%));
  }

  &:disabled {
    background-color: color.adjust($bg-color, $lightness: 20%);
    cursor: not-allowed;
    opacity: 0.7;
  }
}
